@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');



main{
    width: 360px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header{
    text-align: center;
    color: white;
    height: 300px;
}
header img{
    margin-top: 20px;
    height: 120px;
    border-radius: 10%;
}
header h2{
    margin: 20px 0;
    font-size: 35px;
    font-family: 'Righteous', cursive;
}
header p{
    font-size: 22px;
    font-family: 'Carter One', cursive;
}
#content{
    background-color: aliceblue;
    height: 50%;
}
#buttons{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
#buttons img{
    width: 50px;
    height: 50px;
    margin: 0 15px;
}
#volume{
    text-align: center;
}
#volume input{
    width: 100%;
}
input[type="range" i]{
    -webkit-appearance: none;
    background: #e6e7e8;
    height: 4px;
    margin: 0%;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(20, 65, 20);
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
#volume h2{
    margin: 15px 0;
    font-family: 'Viga', sans-serif;
}
#color{
    text-align: center;
    margin-top: 23px;
}
#color button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
#color1{
    background: linear-gradient(90deg, rgba(160,247,146,1) 0%, rgba(58,154,40,1) 51%, rgba(155,200,144,1) 100%);
}
#color2{
    background: rgb(175,224,180);
}
#color3{
    background: rgb(24,119,40);
}
#color4{
    background: rgb(142,181,138);
}

#eagles{
    margin-top: 30px;
    position: relative
}
#eagles img{
    border-radius: 5%;
    position: absolute;
    left: 5%;
    width: 100px;
    height: 50px;
}
#eagles h2{
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    left: 43%;
}
#eagles p{
    position: absolute;
    top: 29px;
    left: 47%;
    text-decoration: none;
    color: rgb(52, 50, 50);
}
#google_play{
    width: 220px;
    height: 60px;
    position: relative;
    margin-top: 120px;
    margin-left: 70px;
    border: 3px solid rgb(207, 201, 201);
    border-radius: 5%;
}
#google_play a {
    color: black;
}
#google_play img{
    position: absolute;
    top: 8px;
    left: 12px;
    width: 40px;
    height: 40px;
}
#google_play p{
    position: absolute;
    left: 32%;
    font-size: 14px;
}
#google_play h2{
    font-size: 22px;
    position: absolute;
    left: 32%;
    top: 20px;
    font-family: 'Righteous', cursive;
} 
span{
    color: red;
}

